* {margin: 0}

html, body {height: 100%;}

#instruction-view {
    background-image: linear-gradient(#DAF5DE, #CFF5CD);
    width: 100vw;
    height: 100vh;
}

#arrowScrollBar {
    width: 50px;
    height: 50px;
}

#bPrint1 {
    transform: rotate(33deg);
    position: absolute;
}


.header {
    /*position: fixed;*/
    width: 100%;
    top: 0;
    height: 0px;
}

.header img {
    position: fixed;
    height: 100px;
    width: 150px;
    top: 0;
    left: 0;
}

.push {
    margin-bottom :0px;
}


#app-view {
    background-image: linear-gradient(#CFF5CD, #B4D5AC);
    height: 100%; 
    width: 100%;
    text-align: center; font-family: Arial, Helvetica, sans-serif;
}

.credits-view {
    background-image: linear-gradient(#B4D5AC, #88B393);
    height: 100%;
    width: 100%;
}


input[type = text] {
    width: 100px;
    height: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}
input[type = checkbox] {
    background-color: aqua;
}
input[type = button] {
    width: 100px;
    height: 100px;
}

#test1 {text-align: center;}
.test2 {color: red}
#logo img{
    height: 100px;
    width: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#coolGrass img {
    height: 60px; /* both were 600 before */
    width: 60px; 
}



#map {
    margin: auto;
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    width: 30%;
    height: 50%;
    /*-webkit-border-radius:20px;
    z-index:0;*/
    
}

#time {

}

/* #startingAddress {
    width: 200px;
    height: 100%;
}

#endingAddress {
    width: 200px;
    height: 100%;
} */