* {margin: 0}

html, body {height: 100%;}

#app-view {
    background-color: #C4E6C1; height: 100%; width: 100%;
    text-align: center; font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient (#C4E6C1, #ABDEBE);
}
input[type = text] {
    width: 100px;
    height: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}
input[type = checkbox] {
    background-color: aqua;
}

#test1 {text-align: center;}
.test2 {color: red}
#logo img{
    height: 100px;
    width: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#coolGrass img {
    height: 60px; /* both were 600 before */
    width: 60px; 
}



#map {
    margin: auto;
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    width: 30%;
    height: 50%;
    /*-webkit-border-radius:20px;
    z-index:0;*/
    
}

#time {

}

/* #startingAddress {
    width: 200px;
    height: 100%;
}

#endingAddress {
    width: 200px;
    height: 100%;
} */